!!!
%html
  %head
    %title
      = yield(:title) + ' | ' if content_for?(:title)
      = 'Backend'

    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(rel="icon" href="/favicon.ico" type="image/x-icon")

    = stylesheet_link_tag 'sap/backend/application'
    = csrf_meta_tag
  %body.admin
    #top
      .wrapper
        %a.logo{href: admin_path}
          = image_tag('/assets/sap/backend/logo.png')
        = render partial: '/sap/backend/common/menu/top'
        = #backend_sidebar('responsitive')
    = render 'sap/backend/common/sidebar'

    #content
      .contentTop
        %span.pageTitle
          = content_for?(:page_title) ? yield(:page_title) : t('Administaration')
        = backend_quick_stat()
      = backend_breadcrumbs

      #main-region.wrapper
        = yield

    .scripts.hide
      = javascript_include_tag  'sap/backend/application'
      = yield :js