%table.table.table-hover.good_items
  %thead
    %tr
      %th= t('activerecord.attributes.sap/good.good_item.store')
      %th.price= t('activerecord.attributes.sap/good.good_item.price')
      %th
  %tbody
    - field.bindings[:object].good_items.each do |i|
      %tr
        %td
          %a{href: edit_path(model_name: 'sap~store', id: i.store_id)}
            = i.store.name
        %td.price= number_to_currency(i.price)
        %td.actions
          %a.btn.btn-info.update.false{href: "/admin/sap~good_item/#{i.id}/edit"}
            %i.icon-pencil.icon-white
  %tfoot
    %tr
      %td{colspan: 2}
        %a.btn.btn-info.create{href: '/admin/sap~good_item/new'}
          %i.icon-plus.icon-white
          = t('admin.actions.new.link')